In [1]:
filesPath ="/home/gonzalo/Data/challenge/"

fileBookings = filesPath + 'bookings.csv.bz2'
fileSearches = filesPath + 'searches.csv.bz2'
csvDelimiter = '^'

import pandas as pd
from pandas import DataFrame, Series
import numpy as np

In [ ]:
_topTens =[]

In [2]:
dfChunks = pd.read_csv(fileBookings, delimiter='^',usecols=["arr_port","pax"], chunksize=2e5)

In [3]:
Dfs = DataFrame([])
firstRow=True

for chunk in dfChunks:
    chunk = gr = chunk.groupby(["arr_port"]).sum()
    chunk = chunk.sort_values(["pax"],ascending=False)
    
    if firstRow==True:
        Dfs=DataFrame(chunk)
        firstRow=False
    else:
        Dfs = pd.concat([Dfs, chunk], axis=1)

#Otra opcion:

Dfs = DataFrame([])
firstRow=True

for chunk in dfChunks:
    chunk = gr = chunk.groupby("arr_port").sum()
    chunk = chunk.sort_values(["pax"],ascending=False)
    
    if firstRow==True:
        Dfs=DataFrame(chunk)
        firstRow=False
    else:
        Dfs = pd.concat([Dfs, chunk], axis=1)

In [4]:
DfsT = Dfs.T

sumcol = {col: DfsT[col].sum() for col in DfsT}

DfTotals = DataFrame(sumcol,index=["Totals"])

In [6]:
top = DfTotals.T.sort_values("Totals",ascending=False).head(10)

In [7]:
top

          Totals
LHR        88809
MCO        70930
LAX        70530
LAS        69630
JFK        66270
CDG        64490
BKK        59460
MIA        58150
SFO        58000
DXB        55590

In [11]:
names = []
for x in top.index:
    print "****" + str(x) + "****"

****LHR     ****
****MCO     ****
****LAX     ****
****LAS     ****
****JFK     ****
****CDG     ****
****BKK     ****
****MIA     ****
****SFO     ****
****DXB     ****


lista = []
for chunk in b:
    s=chunk.groupby("arr_port").sum('pax')
    lista.append(s)

todosLosDf=pd.concat(lista)

sTodos = todosDf.groupby("arr_port").sum("pax")
sTodos.reset_index().sort("pax",ascending=False).head() # reset_index convierte la serie 
#en un dataframe cuyos Ã­ndices son las columnas.

In [12]:
import sys
sys.path.append("/usr/lib/python2.7/")

In [13]:
from GeoBases import GeoBase

ImportError: No module named GeoBases

In [ ]:
from GeoBases import *