In [15]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
df1 = DataFrame([[0,1,2,3,4],[5,6,7,8,9],[10,11,12,13,14]],columns=["c1","c2","c3","c4","c5"])
df1

   c1  c2  c3  c4  c5
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

In [14]:
df1 = DataFrame({"c1":[0,5,10],"c2":[1,6,11],"c3":[2,7,12],"c4":[3,8,13],"c5":[4,9,14]})
df1

   c1  c2  c3  c4  c5
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

In [26]:
df4 = DataFrame(np.random.randint(0,15,3*5).reshape(3,5),columns=["c1","c2","c3","c4","c5"])                                                               
df4

   c1  c2  c3  c4  c5
0   0   5   4   8   7
1   3   2   9   6   8
2   7  10   9  11   7

In [37]:
df4['c1'][0]

0

In [38]:
df4 = DataFrame(np.arange(15).reshape(3,5),columns=["c1","c2","c3","c4","c5"])                                                               
df4

   c1  c2  c3  c4  c5
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

In [43]:
df4["c6"]=df4["c4"]+df4["c5"]
df4["c7"]=df4["c6"]-df4["c2"]
df4

   c1  c2  c3  c4  c5  c6  c7
0   0   1   2   3   4   7   6
1   5   6   7   8   9  17  11
2  10  11  12  13  14  27  16

In [50]:
df4=df4.append(df4.ix[2],ignore_index=True) #ignore index hace que no incluye el índice y cree uno nuevo
df4

   c1  c2  c3  c4  c5  c6  c7
0   0   1   2   3   4   7   6
1   5   6   7   8   9  17  11
2  10  11  12  13  14  27  16
3  10  11  12  13  14  27  16

In [54]:
df4[["c1","c5"]]

   c1  c5
0   0   4
1   5   9
2  10  14
3  10  14

In [56]:
listcolumn = ["c"+str(x) for x in [2,3,4] ]
df4[listcolumn]

   c2  c3  c4
0   1   2   3
1   6   7   8
2  11  12  13
3  11  12  13

In [62]:
df4[df4.columns[2:5]]

   c3  c4  c5
0   2   3   4
1   7   8   9
2  12  13  14
3  12  13  14

In [63]:
df4.columns

Index([u'c1', u'c2', u'c3', u'c4', u'c5', u'c6', u'c7'], dtype='object')

In [68]:
#Los boleanos me selecciona los true que son filas, no vale para las columnas
df4[[True,True,True,True]]

   c1  c2  c3  c4  c5  c6  c7
0   0   1   2   3   4   7   6
1   5   6   7   8   9  17  11
2  10  11  12  13  14  27  16
3  10  11  12  13  14  27  16

In [79]:
condition = df4["c1"]>5
df4[condition]

   c1  c2  c3  c4  c5  c6  c7
2  10  11  12  13  14  27  16
3  10  11  12  13  14  27  16

In [87]:
lb = [False for x in range(4)]
lb
lb[2]=True
df4[lb]

   c1  c2  c3  c4  c5  c6  c7
2  10  11  12  13  14  27  16

In [90]:
#ApplyMap -> fn todo el dataframe
def fSum(integer):
    return integer*10

df4.applymap(fSum)

    c1   c2   c3   c4   c5   c6   c7
0    0   10   20   30   40   70   60
1   50   60   70   80   90  170  110
2  100  110  120  130  140  270  160
3  100  110  120  130  140  270  160

In [96]:
#Apply aplica una función o bien en la filas o bien en las columnas.

def fSumForSeries(s):
    return s.min()*10
df4.apply(fSumForSeries) # Aplica la función sobre las columnas
df4.apply(fSumForSeries,axis=1) # Aplica la función sobre las filas

0      0
1     50
2    100
3    100
dtype: int64

In [107]:
def fMinMax(s):
    return [[s.min(),s.max(),s.sum()]]

df4.apply(fMinMax,axis=1)

,c1,c2,c3,c4,c5,c6,c7
0,"[0, 7, 23]","[0, 7, 23]","[0, 7, 23]","[0, 7, 23]","[0, 7, 23]","[0, 7, 23]","[0, 7, 23]"
1,"[5, 17, 63]","[5, 17, 63]","[5, 17, 63]","[5, 17, 63]","[5, 17, 63]","[5, 17, 63]","[5, 17, 63]"
2,"[10, 27, 103]","[10, 27, 103]","[10, 27, 103]","[10, 27, 103]","[10, 27, 103]","[10, 27, 103]","[10, 27, 103]"
3,"[10, 27, 103]","[10, 27, 103]","[10, 27, 103]","[10, 27, 103]","[10, 27, 103]","[10, 27, 103]","[10, 27, 103]"