In [11]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
! dir H:\data\us_dot\otp\

 El volumen de la unidad H no tiene etiqueta.
 El n£mero de serie del volumen es: 9016-4EF8

 Directorio de H:\data\us_dot\otp

19/12/2015  08:52    <DIR>          .
19/12/2015  08:52    <DIR>          ..
08/11/2015  14:01        23.061.340 On_Time_On_Time_Performance_2015_1.zip
08/11/2015  14:02        21.230.105 On_Time_On_Time_Performance_2015_2.zip
08/11/2015  14:02        24.811.186 On_Time_On_Time_Performance_2015_3.zip
08/11/2015  14:02        23.625.261 On_Time_On_Time_Performance_2015_4.zip
08/11/2015  14:03        24.334.057 On_Time_On_Time_Performance_2015_5.zip
08/11/2015  14:01        25.758.350 On_Time_On_Time_Performance_2015_6.zip
08/11/2015  14:01        26.204.213 On_Time_On_Time_Performance_2015_7.zip
08/11/2015  14:01        25.726.054 On_Time_On_Time_Performance_2015_8.zip
16/04/2015  14:02       211.633.432 On_Time_On_Time_Performance_2015_1.csv
16/04/2015  14:02            12.054 readme.html
              10 archivos    406.396.052 bytes
               2 dirs  11.274.780.672 bytes libres

In [13]:
#! unzip /home/dsc/Data/us_dot/otp/On_Time_On_Time_Performance_2015_1.zip

In [14]:
#! more /home/dsc/Data/us_dot/otp/readme.html

In [15]:
#! ls

In [16]:
#! unzip /home/dsc/Data/us_dot/otp/On_Time_On_Time_Performance_2015_1.zip

In [17]:
df=pd.read_csv("H:\data\us_dot\otp\On_Time_On_Time_Performance_2015_1.csv")

In [18]:
! dir

 El volumen de la unidad C no tiene etiqueta.
 El n£mero de serie del volumen es: 860C-A92C

 Directorio de C:\Users\Usuario\SkyDrive\KSCHOOL\Apuntes\20151219_Pandas

19/12/2015  09:19    <DIR>          .
19/12/2015  09:19    <DIR>          ..
19/12/2015  09:19    <DIR>          .ipynb_checkpoints
19/12/2015  09:19               444 apuntes_20151219.txt
19/12/2015  09:19           312.532 Dec18_2_csv_Exercise.ipynb
19/12/2015  09:03             2.984 Python_Check.ipynb
               3 archivos        315.960 bytes
               3 dirs  126.396.612.608 bytes libres

In [19]:
# importar el csv (OJO con el directorio del csv)
#df=pd.read_csv("On_Time_On_Time_Performance_2015_1.csv")

In [20]:
# consultar dos columnas
df[["FlightDate","Carrier"]]

        FlightDate Carrier
0       2015-01-01      AA
1       2015-01-02      AA
2       2015-01-03      AA
3       2015-01-04      AA
4       2015-01-05      AA
5       2015-01-06      AA
6       2015-01-07      AA
7       2015-01-08      AA
8       2015-01-09      AA
9       2015-01-10      AA
10      2015-01-11      AA
11      2015-01-12      AA
12      2015-01-13      AA
13      2015-01-14      AA
14      2015-01-15      AA
15      2015-01-16      AA
16      2015-01-17      AA
17      2015-01-18      AA
18      2015-01-19      AA
19      2015-01-20      AA
20      2015-01-21      AA
21      2015-01-22      AA
22      2015-01-23      AA
23      2015-01-24      AA
24      2015-01-25      AA
25      2015-01-26      AA
26      2015-01-27      AA
27      2015-01-28      AA
28      2015-01-29      AA
29      2015-01-30      AA
...            ...     ...
469938  2015-01-03      NK
469939  2015-01-04      NK
469940  2015-01-05      NK
469941  2015-01-06      NK
469942  2015-01-07      NK
469943  2015-01-08      NK
469944  2015-01-09      NK
469945  2015-01-10      NK
469946  2015-01-11      NK
469947  2015-01-12      NK
469948  2015-01-13      NK
469949  2015-01-14      NK
469950  2015-01-15      NK
469951  2015-01-16      NK
469952  2015-01-17      NK
469953  2015-01-18      NK
469954  2015-01-19      NK
469955  2015-01-20      NK
469956  2015-01-21      NK
469957  2015-01-22      NK
469958  2015-01-23      NK
469959  2015-01-24      NK
469960  2015-01-25      NK
469961  2015-01-26      NK
469962  2015-01-27      NK
469963  2015-01-28      NK
469964  2015-01-29      NK
469965  2015-01-30      NK
469966  2015-01-31      NK
469967  2015-01-01      NK

[469968 rows x 2 columns]

In [21]:
# consultar dos columnas
df[["FlightDate","Carrier"]].sample(10)

        FlightDate Carrier
397524  2015-01-03      EV
96077   2015-01-11      DL
258567  2015-01-14      OO
113924  2015-01-19      DL
245664  2015-01-06      NK
438301  2015-01-26      F9
82571   2015-01-03      DL
346632  2015-01-19      US
136897  2015-01-02      WN
182441  2015-01-17      WN

In [22]:
# obtener las filas con FlightDate 22.Enero.2015
cond=df["FlightDate"]=="2015-01-22"

# genero la condicion

In [23]:
# aplico la condición

df[cond].sample(10)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
11409,2015,1,1,22,4,2015-01-22,AA,19805,AA,N3JJAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415260,2015,1,1,22,4,2015-01-22,DL,19790,DL,N900DE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201104,2015,1,1,22,4,2015-01-22,WN,19393,WN,N8306H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349619,2015,1,1,22,4,2015-01-22,US,20355,US,N762US,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
396525,2015,1,1,22,4,2015-01-22,EV,20366,EV,N11548,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229802,2015,1,1,22,4,2015-01-22,WN,19393,WN,N430WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304689,2015,1,1,22,4,2015-01-22,UA,19977,UA,N522UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445198,2015,1,1,22,4,2015-01-22,MQ,20398,MQ,N639MQ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303123,2015,1,1,22,4,2015-01-22,UA,19977,UA,N57857,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197785,2015,1,1,22,4,2015-01-22,WN,19393,WN,N370SW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# en una sentencia

df[df["FlightDate"]=="2015-01-22"].sample(10)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
356690,2015,1,1,22,4,2015-01-22,DL,19790,DL,N995AT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198263,2015,1,1,22,4,2015-01-22,WN,19393,WN,N719SW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
436690,2015,1,1,22,4,2015-01-22,HA,19690,HA,N492HA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199390,2015,1,1,22,4,2015-01-22,WN,19393,WN,N8650F,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355560,2015,1,1,22,4,2015-01-22,DL,19790,DL,N669DN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356141,2015,1,1,22,4,2015-01-22,DL,19790,DL,N617DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33872,2015,1,1,22,4,2015-01-22,AA,19805,AA,N3JPAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57974,2015,1,1,22,4,2015-01-22,B6,20409,B6,N653JB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229790,2015,1,1,22,4,2015-01-22,WN,19393,WN,N749SW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349304,2015,1,1,22,4,2015-01-22,US,20355,US,N952UW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# con varias condiciones   >>>> CADA CONDICIONES ENTRE PARENTESIS

cond=(df["DayofMonth"]==22) & (df["Carrier"]=='AA')

df[cond].sample(10)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
38790,2015,1,1,22,4,2015-01-22,AA,19805,AA,N3EFAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12503,2015,1,1,22,4,2015-01-22,AA,19805,AA,N3ANAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29857,2015,1,1,22,4,2015-01-22,AA,19805,AA,N3DAAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13823,2015,1,1,22,4,2015-01-22,AA,19805,AA,N575AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8460,2015,1,1,22,4,2015-01-22,AA,19805,AA,N022AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13883,2015,1,1,22,4,2015-01-22,AA,19805,AA,N477AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31493,2015,1,1,22,4,2015-01-22,AA,19805,AA,N3MEAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14204,2015,1,1,22,4,2015-01-22,AA,19805,AA,N4XLAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18891,2015,1,1,22,4,2015-01-22,AA,19805,AA,N3HEAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23279,2015,1,1,22,4,2015-01-22,AA,19805,AA,N3AEAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

vamos a probar el concepto Merge  >>> similar Join

In [26]:
# creamos un DataFrame con valores aleatorios
df1=DataFrame(np.random.randint(0,10,3*5).reshape(3,5))
df1.columns=["c1","c2","c3","c4","c5"]
df1

   c1  c2  c3  c4  c5
0   2   5   0   0   8
1   6   9   7   6   4
2   5   8   8   2   7

In [27]:
# creamos un df2 aleatorio igual q df1

df2=DataFrame(np.random.randint(0,10,3*5).reshape(3,5))
df2.columns=["c1","c2","c3","c4","c5"]
df2

   c1  c2  c3  c4  c5
0   0   9   9   0   2
1   1   9   0   7   0
2   7   1   6   3   1

In [28]:
# añadimos en df2 una columna "key1" con b,a,b
df2["key1"]=['b','a','b']
df2

   c1  c2  c3  c4  c5 key1
0   0   9   9   0   2    b
1   1   9   0   7   0    a
2   7   1   6   3   1    b

In [29]:
# JOIN de df1 y df2

pd.merge(df1,df2,on="key1")

KeyError: 'key1'

In [ ]:
# después de on="..." podemos poner how="inner", "left", "right", "outer"
# si no ponemos nada el defecto es inner

In [ ]:
pd.merge(df1,df2,on="key1",how="outer")

In [ ]:
# creamos una nueva columna en df2 key2 = a df2 key1

df2["key2"]=df2["key1"]

In [ ]:
# para hacer el merge por columnas de diferente nombre

pd.merge(df1,df2,left_on="key1",right_on="key2")

In [ ]:
# como las columnas se llaman igual las referencia con .._x , .._y
# para cambiar el nombre de las columnas

pd.merge(df1,df2,left_on="key1",right_on="key2",suffixes=("tab1","tab2"))

In [ ]:
df1

In [ ]:
df2

Concatenar DataFrames : pd.concat

In [ ]:
df1["key2"]="d"

In [ ]:
df2

In [ ]:
df1

In [ ]:
# pd.concat une dataFrames de misma estructura

pd.concat([df1,df2])

# así deja los índices originales

In [ ]:
# para reasignar el índice

pd.concat([df1,df2],ignore_index=True)


# y se lo podemos asignar un df3

df3=pd.concat([df1,df2],ignore_index=True)

In [ ]:
type(df3)

In [ ]:
df3

## agrupaciones

In [ ]:
len(df)

In [ ]:
df[df["FlightDate"]=="2015-01-22"]

In [ ]:
# by_carrier es un objeto "vago"
# no se ejecuta hasta que se le invoca
# el resultado es un conjunto de DataFrames, uno x cada Carrier
by_carrier=df.groupby("Carrier")

In [ ]:
# devuelve un DataFrame con el valor seleccionado

by_carrier.get_group("WN")

In [ ]:
# los diferentes valores de la agrupación
by_carrier.groups.keys()

In [ ]:
# se pueden combinar

by_carrier_origin=df.groupby(["Carrier","Origin"])

by_carrier_origin.groups.keys()

## Group Functions

In [ ]:
# suma cada columna del DataFrame
by_carrier.get_group("AA").sum()

In [ ]:
# en cada columna cuantas no son NaN

by_carrier.get_group("AA").count()

In [ ]:
# número de líneas del DataFrame

len(by_carrier.get_group("AA"))

In [ ]:
# Hacer una agrupación dentro del group by

by_carrier["Year"].count()

# cojo Year porque siempre está informada y no varía

In [ ]:
# lo mismo perp con unaa función
def dflength(df):
    return len(df)

by_carrier.apply(dflength)

In [ ]:
df.sample(10)

In [ ]:
by_Date=df.groupby("FlightDate")

In [ ]:
by_Date.groups.keys()

ejercicio: Vuelos x compañía los días 22 y 23. Luego añadir una tercera columna con la evolución del 23 al 22

In [ ]:
miniDf23=by_Date.get_group("2015-01-23")

In [ ]:
by_Carrier23=miniDf23.groupby("Carrier")

In [ ]:
by_Carrier23["Year"].count()

In [ ]:
# reset_index
# el resultado anterior es una serie, para llevarla a un DataFrame está la función reset_index

flight23jan=by_Carrier23["Year"].count().reset_index()

In [ ]:
flight23jan

In [ ]:
miniDf22=by_Date.get_group("2015-01-22")

by_Carrier22=miniDf22.groupby("Carrier")

flight22jan=by_Carrier22["Year"].count().reset_index()

In [ ]:
flight22jan

In [ ]:
flight22jan.columns=["Carrier","Fl22"]

In [ ]:
flight23jan.columns=["Carrier","Fl23"]

In [ ]:
FinalMerge=pd.merge(flight22jan,flight23jan,on="Carrier")

In [ ]:
FinalMerge

In [ ]:
FinalMerge["evolFlight"]=FinalMerge["Fl23"]-FinalMerge["Fl22"]

In [ ]:
FinalMerge

In [ ]:
# creamos otra columna con la evolución en %
FinalMerge["evolPorc"]=FinalMerge["evolFlight"]/FinalMerge["Fl22"]

FinalMerge

In [ ]:
# vamos a crear una columna más que redondear a 2dec la columna anterior

def dec2(n):
    return round(n,2)

In [ ]:
FinalMerge["evolPorc2d"]=FinalMerge["evolPorc"].apply(dec2)

FinalMerge

## sort

In [ ]:
FinalMerge.sort("evolPorc2d",ascending=False)

In [ ]:
#  vamos a aplicar la función x fila

def evolPorc(s):
    return (s["Fl23"]-s["Fl22"])/s["Fl22"]

In [ ]:
FinalMerge.apply(evolPorc,axis=1)

In [ ]:
evolPorc(FinalMerge.ix[3])